/*------- FORMATO BASICO DE TABLA ----------*/
.table-layout {
    table-layout: fixed;
}

.table-layout tbody tr td {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

.table thead tr th {
    text-align: center;
}

/*------- POSICIONAMIENTO DE ASIGNATURAS ----------*/
.pos {
    position: relative;
}

.tdata {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(255, 181, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.tdata div {
    max-width: 90%;
}


/*------- ALTURA DE LAS ASIGNATURAS ----------*/
.tdata-h-1 {
    width: 100%;
    height: calc(100% + 1px);
}

.tdata-h-2 {
    width: 100%;
    height: calc(200% + 2px);
}

.tdata-h-3 {
    width: 100%;
    height: calc(300% + 3px);
}

.tdata-h-4 {
    width: 100%;
    height: calc(400% + 4px);
}

.tdata-h-5 {
    width: 100%;
    height: calc(500% + 5px);
}

/*------- COLOR DE LAS ASIGNATURAS ----------*/
.s-green {
    background-color: rgb(182, 255, 140);
    border: 1px solid rgb(153, 218, 115);
}

.s-blue {
    background-color: rgb(165, 219, 255);
    border: 1px solid rgb(140, 187, 216);
}

.s-red {
    background-color: rgb(255, 181, 181);
    border: 1px solid rgb(224, 146, 146);

}

.s-yellow {
    background-color: rgb(255, 254, 181);
    border: 1px solid rgb(207, 206, 138);
}

.s-orange {
    background-color: rgb(255, 212, 255);
    border: 1px solid rgb(228, 185, 228);
}