/*------- FORMATO BASICO DE TABLA ----------*/
.table-layout {
    table-layout: fixed;
}

.table-layout tbody tr td {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

.table thead tr th {
    text-align: center;
}

/*------- POSICIONAMIENTO DE ASIGNATURAS ----------*/
.pos {
    position: relative;
}

.tdata {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(255, 181, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
}

.tdata div {
    max-width: 90%;
    text-align: center;
}




/*------- ALTURA DE LAS ASIGNATURAS ----------*/
.tdata-h-1 {
    width: 100%;
    height: calc(100% + 1px);
}

.tdata-h-2 {
    width: 100%;
    height: calc(200% + 2px);
}

.tdata-h-3 {
    width: 100%;
    height: calc(300% + 3px);
}

.tdata-h-4 {
    width: 100%;
    height: calc(400% + 4px);
}

.tdata-h-5 {
    width: 100%;
    height: calc(500% + 5px);
}

/*------- COLOR DE LAS ASIGNATURAS ----------*/
.s-green {
    background-color: rgb(154, 231, 109);
}

.s-blue {
    background-color: rgb(127, 204, 255);
}

.s-red {
    background-color: rgb(255, 145, 145);
}

.s-yellow {
    background-color: rgb(255, 253, 144);
}

.s-orange {
    background-color: rgb(255, 180, 255);
}
